In [2]:
import pandas as pd

In [5]:
businesses = pd.read_csv('../data/yelp_business.csv')
businesses.head(5)

,business_id,name,neighborhood,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,categories
0,FYWN1wneV18bWNgQjJ2GNg,"""Dental by Design""",NaN,"""4855 E Warner Rd, Ste B9""",Ahwatukee,AZ,85044,33.330690,-111.978599,4.0,22,1,Dentists;General Dentistry;Health & Medical;Or...
1,He-G7vWjzVUysIKrfNbPUQ,"""Stephen Szabo Salon""",NaN,"""3101 Washington Rd""",McMurray,PA,15317,40.291685,-80.104900,3.0,11,1,Hair Stylists;Hair Salons;Men's Hair Salons;Bl...
2,KQPW8lFf1y5BT2MxiSZ3QA,"""Western Motor Vehicle""",NaN,"""6025 N 27th Ave, Ste 1""",Phoenix,AZ,85017,33.524903,-112.115310,1.5,18,1,Departments of Motor Vehicles;Public Services ...
3,8DShNS-LuFqpEWIp0HxijA,"""Sports Authority""",NaN,"""5000 Arizona Mills Cr, Ste 435""",Tempe,AZ,85282,33.383147,-111.964725,3.0,9,0,Sporting Goods;Shopping
4,PfOCPjBrlQAnz__NXj9h_w,"""Brick House Tavern + Tap""",NaN,"""581 Howe Ave""",Cuyahoga Falls,OH,44221,41.119535,-81.475690,3.5,116,1,American (New);Nightlife;Bars;Sandwiches;Ameri...

In [34]:
restaurants = businesses[businesses['categories'].str.contains("Restaurants")]

open_restaurants = restaurants[restaurants['is_open']==1].reset_index(drop = True)
open_restaurants.groupby(['city'])['review_count'].sum().sort_values(ascending = False).head(5)

city
Las Vegas     795581
Phoenix       284627
Toronto       254479
Scottsdale    149430
Charlotte     138974
Name: review_count, dtype: int64

In [35]:
restaurants_in_Vegas = open_restaurants[open_restaurants['city'] == 'Las Vegas'].reset_index(drop = True)

In [36]:
restaurants_in_Vegas['stars'].value_counts().sort_index(ascending = False)

5.0    120
4.5    513
4.0    988
3.5    893
3.0    634
2.5    447
2.0    276
1.5    108
1.0     11
Name: stars, dtype: int64

In [37]:
restaurants_in_Vegas['business_id'].nunique()

3990

In [38]:
restaurants_in_Vegas['review_count'].mean()

199.3937343358396

In [54]:
import random

sampled_restaurants = random.sample(list(restaurants_in_Vegas['business_id']), 1000)

In [55]:
selected_restaurants_in_Vegas = restaurants_in_Vegas[restaurants_in_Vegas['business_id'].isin(sampled_restaurants)].reset_index(drop = True)

In [56]:
selected_restaurants_in_Vegas.shape[0]

1000

In [57]:
selected_restaurants_in_Vegas['review_count'].sum()

201243

In [27]:
reviews = pd.read_csv('../data/yelp_review.csv')

In [28]:
reviews.columns

Index(['review_id', 'user_id', 'business_id', 'stars', 'date', 'text',
       'useful', 'funny', 'cool'],
      dtype='object')

In [29]:
selected_restaurants_in_Vegas.columns

Index(['business_id', 'name', 'neighborhood', 'address', 'city', 'state',
       'postal_code', 'latitude', 'longitude', 'stars', 'review_count',
       'is_open', 'categories'],
      dtype='object')

In [58]:
cols_to_keep = ['business_id', 'name', 'city', 'state']
Vegas_restaurants_reviews = pd.merge(selected_restaurants_in_Vegas[cols_to_keep], reviews, left_on = ['business_id']\
                                     , right_on = ['business_id'], how = 'left')

In [44]:
Vegas_restaurants_reviews.columns

Index(['business_id', 'name', 'city', 'state', 'review_id', 'user_id', 'stars',
       'date', 'text', 'useful', 'funny', 'cool'],
      dtype='object')

In [59]:
Vegas_restaurants_reviews.shape

(201244, 12)

In [46]:
Vegas_restaurants_reviews.head(5)

,business_id,name,city,state,review_id,user_id,stars,date,text,useful,funny,cool
0,ijg7qQCYnhUWBd5JUxbfvA,"""Roxy's Diner""",Las Vegas,NV,V6zITTU1EVK4vdf-z3uvKg,sJt7xHhgWBuQ7LJYserqiA,4,2015-09-18,Ein American Diner im 50er Jahre Stil im Casin...,0,0,0
1,ijg7qQCYnhUWBd5JUxbfvA,"""Roxy's Diner""",Las Vegas,NV,zBGxuYm4XrfqrobTvXRjjg,WbYQ_-LfAZmZn30FrUb3zw,4,2009-05-26,"Yes, it's a corny 50's diner and the wait staf...",0,0,0
2,ijg7qQCYnhUWBd5JUxbfvA,"""Roxy's Diner""",Las Vegas,NV,oSeoPpPVSFv-6ZdvM34Rfg,mrpDR4jeLYun7bLMbw5a4w,1,2016-08-26,"Horrible customer service, horrible food, way ...",1,0,0
3,ijg7qQCYnhUWBd5JUxbfvA,"""Roxy's Diner""",Las Vegas,NV,GLGwmRhXoIXeSvd01sSa_Q,iaYw8_USYzHJRr0mb39mhA,1,2012-09-25,Incredibly slow. We sat at the diner waiting f...,0,0,0
4,ijg7qQCYnhUWBd5JUxbfvA,"""Roxy's Diner""",Las Vegas,NV,kRRENas0eDocBIKsd7AzDQ,A3vnrjDF4WOKRAQQOrK4ng,1,2013-10-17,Not good at all. Burger was a frozen patty for...,0,0,0

In [60]:
Vegas_restaurants_reviews['date'] = pd.to_datetime(Vegas_restaurants_reviews['date'])
Vegas_restaurants_reviews['year'] = Vegas_restaurants_reviews['date'].dt.year
Vegas_restaurants_reviews['year'].value_counts()

2017    46026
2016    41767
2015    35358
2014    25295
2013    16656
2012    12580
2011    10851
2010     6402
2009     3229
2008     2026
2007      833
2006      199
2005       22
Name: year, dtype: int64

In [61]:
Vegas_restaurants_reviews_final = Vegas_restaurants_reviews[Vegas_restaurants_reviews['year'].isin(['2017','2016'])].reset_index(drop = True)

In [62]:
Vegas_restaurants_reviews_final.to_csv('../data/reviews_sample_Las_Vegas.csv', index = False)